<div class="NewMenuForm">
  <h3 class="NewMenuForm--Title">New Menu:</h3>
  <%= form_with url:"/menus", method: "post", class:"NewMenuForm--Form" do |form| %>
    <%= form.text_field :name, placeholder: "Name",class:"NewMenuForm--Input" %>
    <%= form.submit :Add, class: "Button Button__primary" %>
  <% end %>
</div>
<% @menus.each do |menu| %>
  <%= render partial: "admin/menu", locals: {
    menu: menu
  } %>
<% end %>
