@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import "colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text-color;
}

:root {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

body {
  background-color: $light-bg-color;
}
button {
  cursor: pointer;
}
.MainContent {
  max-width: 900px;
  margin: 0 auto;
}
