@import "colors.scss";
.Button {
  // height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  color: $text-color;
  // margin-right: 15px ;z
  border: 0;
  &:hover {
    cursor: pointer;
  }
  &__primary {
    background-color: $primary-color !important;
  }
}
