@import "colors.scss";
$radius: 7px;
.CustomerUpper {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.CustomerActiveMenu {
  font-size: 2rem;
  display: flex;
  p {
    padding: 13px;
    color: $text-color;
  }
  &--Label {
    background-color: $bg-color;
    border-radius: $radius 0 0 $radius;
  }
  &--MenuName {
    background-color: $secondary-color;
    border-radius: 0 $radius $radius 0;
  }
}
.CustomerCart {
  display: flex;
  font-size: 2rem;
  p {
    padding: 13px;
    color: $text-color;
  }
  &--Label {
    background-color: $bg-color;
    border-radius: $radius 0 0 $radius;
  }
  &--Number {
    background-color: $primary-color;
  }
  &--Amount {
    background-color: $secondary-color;
    border-radius: 0 $radius $radius 0;
  }
}

.CustomerMenu {
  margin-bottom: 30px;
  &--Header {
    font-size: 2.5rem;
    font-weight: 600;
    background-color: $secondary-color;
    color: $text-color;
    padding: 10px 25px;
    border-radius: $radius $radius 0 0;
  }
  &--TableContainer {
    padding: 17px 17px;
    background-color: $bg-color;
    border-radius: 0 0 $radius $radius;
  }
  &--Table {
    border-collapse: collapse;
    padding: 12px;
    td {
      border: 2px solid $text-color;
      text-align: center;
      vertical-align: middle;
      color: $text-color;
      background-color: $bg-color;
      padding: 12px;
    }
  }
}
.AddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  &--Upper {
    display: flex;
  }
  &--Plus,
  &--Minus {
    width: 30px;
    padding: 2px 4px;
    border: 0;
    font-size: 30px;
    line-height: 10px;
    padding-bottom: 12px;
    padding-top: 5px;
    font-weight: 600;
    outline: 0;
    border: 0;
    background-color: $primary-color;
    color: $text-color;
  }
  &--Minus {
    border-top-left-radius: $radius;
  }
  &--Plus {
    border-top-right-radius: $radius;
  }
  &--Number {
    padding: 5px;
    background-color: $primary-color;
    font-weight: 600;
  }
  &--Button {
    width: 100%;
    outline: 0;
    border: 0;
    padding: 5px;
    background-color: $primary-color-darker;
    color: $text-color;
    border-radius: 0 0 $radius $radius;
    font-weight: 600;
  }
}
