@import "colors.scss";
$radius: 7px;
.ReportsHeading {
  font-size: 2.8rem;
  font-weight: 600;
  padding: 20px 0;
  color: $bg-color;
}

.Report {
  margin-bottom: 30px;
  &--Title {
    font-size: 2.5rem;
    font-weight: 600;
    background-color: $secondary-color;
    color: $text-color;
    padding: 10px 25px;
    border-radius: $radius $radius 0 0;
  }
  &--FormContainer {
    background-color: $bg-color;
    border-radius: 0 0 $radius $radius;
  }
  &--Form {
    display: flex;
    justify-content: center;
    padding: 10px 17px;
    input:not([type="submit"]):focus {
      border: 2px solid $secondary-color;
    }
    label {
      color: $text-color;
      font-size: 2rem;
      align-self: center;
    }
    input.Button {
      // height: inherit;
      margin: 7px 0;
      outline: 0;
    }
    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
  &--FormGroup {
    padding: 0 30px;
    display: flex;
    align-items: stretch;
  }
  &--FormInput {
    // display: block;
    margin: 7px;
    background-color: #252323;
    color: #f9f9f9;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: $radius;
    outline: 0;
    border: 2px solid #f9f9f9;
  }
  &--EmailForm {
    justify-content: start;
  }
  &--EmailGroup {
    // justify-self: flex-start;
    width: 100%;
    input[type="email"] {
      font-size: 2rem;
      width: 100%;
      // flex-grow: 1;
    }
  }
}

.ReportTable {
  margin-top: 30px;
  &--Title {
    background-color: $secondary-color;
    font-size: 2.5rem;
    font-weight: 600;
    color: $text-color;
    padding: 10px 25px;
    border-radius: $radius $radius 0 0;
    display: flex;
    justify-content: space-between;
  }
  &--TableContainer {
    background-color: $bg-color;
    border-radius: 0 0 $radius $radius;
    padding: 17px;
    table {
      width: 100%;
      th,
      td {
        font-size: 2rem;
        color: $text-color;
        padding: 10px;
        border: 2px solid $text-color;
        text-align: center;
        a {
          color: $light-bg-color;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
