<div class="CustomerUpper">
  <div class="CustomerActiveMenu">
  </div>
  <div class="CustomerCart">
    <p class="CustomerCart--Label">Cart : <%= @current_user.cart_items_count %> </p>
    <% unless @current_user.cart_items_count==0 %>
      <%= link_to "Checkout", customer_cart_path, class: "Button Button__primary" %>
    <% end %>
  </div>
</div>
<% @active_menus.each do |menu| %>
  <%= render partial: "customer/menu", locals: {
  menu: menu
} %>
<% end %>
<script type="text/javascript">
  function decrease(menu_item_id) {
    element=document.getElementById("cart_"+menu_item_id);
    element.value=Math.max(1,element.value-1)
  }
  function increase(menu_item_id) {
    document.getElementById("cart_"+menu_item_id).value++;
  }
</script>
