<div class="OrdersTable" >
  <p class="OrdersTable--Title" >My Orders</p>
  <div class="OrdersTable--Container">
    <table class="OrdersTable--Table" width="100%">
      <thead>
        <th>
          Order ID
        </th>
        <th>
          Date
        </th>
        <th>
          Total
        </th>
        <th>
          Status
        </th>
      </thead>
      <tbody>
        <% @current_user.orders.each do |order| %>
          <tr>
            <td>
              <a class="OrdersTable--OrderId" href="/orders/<%= order.id %>">Order #<%= order.id %></a>
            </td>
            <td>
              <%= order.date.strftime("%d %b %Y") %>
            </td>
            <td>
              ₹<%= order.amount %>
            </td>
            <td>
              <% if order.status %>
                Delivered
              <% else %>
                Pending
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
