<nav class="Navbar">
  <h1 class="Navbar--Branding">Pupilfirst Cafe</h1>
  <div class="Navbar--Center">
    <ul class="Navbar--Menu">
      <li class="Navbar--MenuItem"> <%= link_to "Home", admin_home_path %> </li>
      <li class="Navbar--MenuItem"><a href="/admin/reports">Reports</a></li>
      <li class="Navbar--MenuItem"> <%= link_to "Users", admin_users_path %> </li>
    </ul>
  </div>
  <div class="Navbar--Right">
    <ul class="Navbar--Menu">
      <li class="Navbar--MenuItem Navbar--MenuItem__Username">Hi Shailesh</li>
      <li>
        <%= form_with url: destroy_session_path, method: :delete do |form| %>
          <%= form.button :Logout, class:"Button Button__primary" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
