<nav class="Navbar">
  <h1 class="Navbar--Branding">Pupilfirst Cafe</h1>
  <div class="Navbar--Center">
    <ul class="Navbar--Menu">
      <li class="Navbar--MenuItem"><a href="/admin/reports">Reports</a></li>
      <li class="Navbar--MenuItem"> <%= link_to "Users", admin_users_path %> </li>
    </ul>
  </div>
  <div class="Navbar--Right">
    <ul class="Navbar--Menu">
      <li class="Navbar--MenuItem Navbar--MenuItem__Username">Hi Shailesh</li>
      <li><a href="#" class="Button Button__primary">Logout</a></li>
    </ul>
  </div>
</nav>
